
<div class="container">
  <h1>Registration Numbers</h1>
  <div class="example_container">
    <h3>Please type in your registration number for either: </h3>
    <div>

    <span>Cape Town : (CA3234)</span>
    <span>Stellenbosch : (CL3234)</span>
    <span>Paarl : (CJ3234)</span>
    </div>
  </div>


  <form action="/" method="post">
  <label for="reg_num">Registration Number</label>
  <input id="reg_num" type="text">
  </form>
</div>