<div class="container">
  <h1>🪪 Registration Numbers 🪪</h1>
  <div class="instruction_container">
    <h3>Please type in your registration number for either: </h3>
    <div class="example_container">

      <span>Cape Town : (CA3234)</span>
      <span>Stellenbosch : (CL3234)</span>
      <span>Paarl : (CJ3234)</span>
    </div>
  </div>

  <form action="/reg_numbers" method="post">
    <input
      id="reg_num"
      type="text"
      name="name"
      name="name"
      placeholder="Type registration here"
    />
    <button type="submit" name="action" value="add">Add Registration</button>

    <div class="filter-section">
      <label for="town">Choose a town:</label>
      <div>

      <input type="radio" id="all" name="town" value="all" checked>
      <label for="all">All</label>
      <input type="radio" id="CA" name="town" value="CA">
      <label for="CA">Cape Town</label>
      <input type="radio" id="CL" name="town" value="CL">
      <label for="CL">Stellenbosch</label>
      <input type="radio" id="CJ" name="town" value="CJ">
      <label for="CJ">Paarl</label>
      </div>
      <button type="submit" name="action" value="filter">Filter Registrations</button>
    </div>




  </form>

  <div class="reg_container">
    <h2>List of registration numbers</h2>
    <div class="reg_item">
      {{#each reg_num}}
        <div class="number-plate">
          {{this.registration_number}}
        </div>
      {{/each}}
    </div>

  </div>
</div>

