<div class="container">
  <h1>🪪 Registration Numbers 🪪</h1>
  <div class="instruction_container">
    <h3>Please type in your registration number for either: </h3>
    <div class="example_container">

      <span>Cape Town : (CA3234)</span>
      <span>Stellenbosch : (CL3234)</span>
      <span>Paarl : (CJ3234)</span>
    </div>
  </div>

  <form action="/reg_numbers" method="post">
    <input id="reg_num" type="text" placeholder="Type registration here" />
    <button type="submit">Add Registration</button>
  </form>
</div>