
body {
    background-color: rgb(249, 242, 232);
}

.container {
    margin: 0 auto;
    width: 60%;
}

.container h1 {
    text-align: center;
}

.example_container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container form {
    margin-top: 3em;
}